name: Deploy Backend (production)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      update_type:
        description: 'Update Type'
        required: false
        default: 'code'
        type: choice
        options:
          - code
          - config
          - ssl
      runSeeds:
        description: 'Run seeds after migrations'
        required: false
        default: 'false'
        type: choice
        options:
          - 'true'
          - 'false'

jobs:
  call-reusable:
    uses: ./.github/workflows/deploy-backend.yml
    permissions:
      contents: read
    with:
      environment: production
      update_type: ${{ inputs.update_type || 'code' }}
      runSeeds: ${{ inputs.runSeeds || 'false' }}

