name: Deploy Backend (production)

on:
  push:
    branches: [ "main" ]

jobs:
  call-reusable:
    uses: ./.github/workflows/deploy-backend.yml
    permissions:
      contents: read
    with:
      environment: production
      update_type: code
      runSeeds: 'false'

