name: Deploy Backend (staging)

on:
  push:
    branches: [ "staging" ]

jobs:
  call-reusable:
    uses: ./.github/workflows/deploy-backend.yml
    permissions:
      contents: read
    with:
      environment: staging
      update_type: code
      runSeeds: 'false'

